{{ define "base" }}
<html>

<head>
    {{ template "header" . }}
</head>

<body>

<div>
    <div class="container container-background">
        {{ template "content" . }}
        {{ template "footer" . }}
    </div>
</div>
</body>
</html>
{{ end }}

<!--the html preview page to be exported -->
{{ define "htmlPage" }}
<html>
<head>
  {{ template "header" . }}
</head>

<body>
  {{ template "content" . }}

   {{ template "footer" . }}
</body>
</html>
{{ end }}

<!--#########################-->
<!--define common templates below: header, footer, navbar -->
{{define "header"}}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{{.Title}}</title>

        <!--
          <link type="text/css" rel="stylesheet" href="http://static.geonet.org.nz/geonet-2.0.1/css/bootstrap-geonet.css"/>
          <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        -->
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="css/geonet.css"/>
{{end}}

<!--#########################-->
{{define "footer"}}
<div id="footer" class="footer">
         <p><a target="_blank" {{if eq .LinkDisable "1"}} class="disabled" {{end}} href="index.html">总目录</a> |
            <a target="_blank" {{if eq .LinkDisable "2"}} class="disabled" {{end}}href="About_group.html">群简介</a> |
            <a target="_blank" {{if eq .LinkDisable "3"}} class="disabled" {{end}}href="Group_photos.html">群相册</a> |
            <a target="_blank" {{if eq .LinkDisable "4"}} class="disabled" {{end}}href="Aware.html">注意事项</a>
         </p>
</div>
{{end}}

<!--#########################-->
{{define "navbar"}}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://geonet.org.nz">GeoNet</a>
    </div>
</div>
</div>
{{end}}