{{ define "content" }}
<script>
function changePreview(value){
   document.getElementById("preview").value= value;
   console.log("value " + value);
}
</script>
<div class="content">
    <div class="page-header">
        <h1>Walking Noticeboard</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"> Home </a></li>
        <li>Edit</li>
    </ol>

    <!--show preview-->
    {{if .MarkDown.HtmlContent}}
      <div class="page-header">
        <h1>{{.MarkDown.Title}}</h1>
      </div>

      <div >
        {{.MarkDown.HtmlContent}}
      </div>
    {{end}}

    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <h3>Edit News </h3>
        </div>
    </div>

    <form id="newsEditForm" class="form-horizontal" action="/save" method="post" enctype="multipart/form-data">
        <input type="hidden" name="preview" id="preview" value="0"/>

        <div class="form-group">
            <label for="postTitle" class="control-label  col-md-1">Title</label>

            <div class="col-md-10">
                <input id="postTitle" class="form-control" name="postTitle" type="text"
                       value="{{.MarkDown.Title}}"> </input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-2">
                <input type="file" name="imagefiles" id="imagefiles" multiple="multiple"> </input>
            </div>
            <div class="col-md-1">
                <input class="btn btn-primary" value="Upload Images" id="btnUpload" type="submit"
                       onclick="changePreview(2);">
                </input>
            </div>
            <a class="col-md-offset-1 col-md-2" href="https://guides.github.com/features/mastering-markdown/"
               target="_blank">
                Markdown supported
            </a>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <textarea id="postContent" name="postContent" class="col-md-10 form-control" rows="20" cols="80" >{{.MarkDown.MdContent}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">

                <input value="Preview" id="btnPreview" type="submit" class="btn btn-primary"
                       onclick="changePreview(1);">
                </input>
                &nbsp;
                <input value="Submit" id="btnSubmit" type="submit" class="btn btn-primary">
                </input>
            </div>
        </div>
    </form>
    <br/>
</div>
{{ end }}
