{{ define "content" }}
<div class="content">
    <div class="page-header">
        <h1>GeoNet News</h1>
    </div>

    <div>
        <!-- news details goes here -->
        {{range $index, $element := .AllMarkdown}}
           <p> <a href="{{$element.FileName}}.html">{{$element.Title}} </a>  </p>
        {{end}}
    </div>
</div>
{{ end }}