{{ define "content" }}
<div class="content">
    <div class="page-header">
        <p><img class='img-responsive' src="_images/skyline2.png" alt="skyline" /></p>
        <h1>总目录</h1>
    </div>

    <div>
        <!-- news details goes here -->
        {{range $index, $element := .AllMarkdown}}
           <p> <a href="{{$element.FileName}}.html">{{$element.Title}} </a>  </p>
        {{end}}
    </div>
</div>
{{ end }}